@import url("https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans");

@import "init";

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
@import "~element-theme-chalk/src/index.scss";

html, body {
    margin: 0 !important;
    padding: 0 !important;
    
    height: 100%;
    
    font: {
        family: $font-family-base;
        size: $font-size-base;
    };
}
