$font-family-base: Arial, sans-serif;

@import "~bootstrap/scss/bootstrap.scss";
@import "~element-ui/lib/theme-chalk/index.css";

body
{
    font-family: $font-family-base;
    font-size: $font-size-base;
    margin: 0;
}
