@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

$--font-path: "~element-theme-chalk/src/fonts";
$font-family-base: Fira Sans, sans-serif;

@import "~bootstrap/scss/bootstrap.scss";
@import "~element-theme-chalk/src/index.scss";

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    margin: 0;
}
